fastapi==0.115.3
uvicorn[standard]==0.32.1
SQLAlchemy==2.0.35
alembic==1.14.0
python-dotenv==1.0.0
psycopg2-binary==2.9.10
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
pydantic==2.10.2
pydantic-settings==2.11.0
email-validator==2.3.0
python-multipart==0.0.6
boto3==1.26.0
